<div>
    <h1>{{title}}</h1>

    <form (submit)="buscarSolicitacoes()">
        <label for="status">Status:</label>
        <select name="status" (change)="statusChange($event)">
          <option value="">Todos</option>
          <option value="aprovado">Aprovado</option>
          <option value="reprovado">Reprovado</option>
        </select>
    
        <label for="solicitante">Nome do Solicitante:</label>
        <input type="text" name="solicitante">
    
        <label for="descricaoItem">Descrição do Item:</label>
        <input type="textarea" name="descricaoItem">
      
        <button type="submit">Consultar</button>
      </form>
</div> 